@import '~antd/dist/antd.css';

body {
  font-size: 20px;
}

li > a,
.ant-input-search {
  font-size: 18px;
}

.menuSearch {
  float: right;
  font-size: 18px;
}

.ant-input-search {
  vertical-align: middle;
}
button > span {
  font-size: 16px;
}

.resultsPane {
  background-color: #f0f2f5;
  padding: 10px;
}

.resultCard {
  margin-top: 25px;
  text-align: left;
}

.sideMenu {
  overflow-y: scroll;
  max-height: 80vh;
}

.contentDiv {
  padding: 24px 48px;
  background-color: #fff;
  overflow-y: scroll;
  max-height: 90vh;
}
